[package]
name = "wl-clipboard-rs"
version = "0.4.0" # remember to update html_root_url
authors = ["Ivan Molodetskikh <yalterz@gmail.com>"]
description = "Access to the Wayland clipboard for terminal and other window-less applications."
edition = "2018"
license = "MIT/Apache-2.0"

readme = "README.md"
documentation = "https://docs.rs/wl-clipboard-rs"
repository = "https://github.com/YaLTeR/wl-clipboard-rs"
keywords = ["wayland", "clipboard"]
categories = ["command-line-utilities"]

[badges]
travis-ci = { repository = "YaLTeR/wl-clipboard-rs" }

[[bin]]
name = "wl-paste"
path = "src/bin/wl_paste.rs"

[[bin]]
name = "wl-copy"
path = "src/bin/wl_copy.rs"

[[bin]]
name = "wl-clip"
path = "src/bin/wl_clip.rs"

# [profile.dev]
# panic = "abort"

[dependencies]
derive-new = "0.5"
derive_more = "0.99"
exitfailure = "0.5"
failure = "0.1"
libc = "0.2"
log = "0.4"
mime_guess = "2"
nix = "0.16"
os_pipe = "0.9"
stderrlog = "0.4"
structopt = { version = "0.3", features = ["wrap_help"] }
tempfile = "3"
tree_magic = "0.2"
wayland-client = "0.23"

[dependencies.wayland-protocols]
version = "0.23"
features = ["client", "unstable_protocols"]

[dev-dependencies]
wayland-server = "0.23"

[dev-dependencies.wayland-protocols]
version = "0.23"
features = ["server", "unstable_protocols"]

[features]
# Link to libwayland-client.so instead of using the Rust implementation.
native_lib = [
    "wayland-client/native_lib",
    "wayland-server/native_lib",
]

dlopen = [
    "native_lib",
    "wayland-client/dlopen",
    "wayland-server/dlopen",
]
