[package]
name = "wl-clipboard-rs"
version = "0.7.0" # remember to update html_root_url
authors = ["Ivan Molodetskikh <yalterz@gmail.com>"]
description = "Access to the Wayland clipboard for terminal and other window-less applications."
edition = "2018"
license = "MIT/Apache-2.0"

readme = "README.md"
documentation = "https://docs.rs/wl-clipboard-rs"
repository = "https://github.com/YaLTeR/wl-clipboard-rs"
keywords = ["wayland", "clipboard"]
categories = ["command-line-utilities"]

[workspace]
members = [".", "wl-clipboard-rs-tools"]

[dependencies]
derive-new = "0.5.9"
libc = "0.2.146"
log = "0.4.19"
nix = "0.26.2"
os_pipe = "1.1.4"
tempfile = "3.6.0"
thiserror = "1"
tree_magic_mini = "3.0.3"
wayland-client = "0.29.4"

[dependencies.wayland-protocols]
version = "0.29.4"
features = ["client", "unstable_protocols"]

[dev-dependencies]
wayland-server = "0.29.4"

[dev-dependencies.wayland-protocols]
version = "0.29.4"
features = ["server", "unstable_protocols"]

[features]
# Link to libwayland-client.so instead of using the Rust implementation.
native_lib = [
    "wayland-client/use_system_lib",
    "wayland-server/use_system_lib",
]

dlopen = [
    "native_lib",
    "wayland-client/dlopen",
    "wayland-server/dlopen",
]
